{% extends '_layout.html' %}

{% block title %}Blog {{ block.super }}{% endblock %}

{% block heading %}My Blog{% endblock %}

{% block subheading %}Follow my journey{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-9 mx-auto">
        {% for post in object_list %}
            {% if post.is_live %}
            <h2 class="text-center display-4 font-weight-bold">
                <a href="{% url 'blog:detail' slug=post.slug %}" target="_blank" class="text-dark">{{ post.title }}</a>
            </h2>
            <p class="text-center text-muted">
                <small>Category: {{ post.category }}</small><br>
                <small>Posted on: {{ post.pub_date|date:'F d, Y' }}</small>
            </p>
            <p class="lead">{{ post.content|truncatewords:40 }}</p>
            <div class="col-12 col-md-4 mx-auto">
                <a href="{% url 'blog:detail' slug=post.slug %}" target="_blank" class="btn btn-info w-100">READ</a>
            </div>
            <hr class="mb-5 bg-info">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}