{% extends '_layout.html' %}
{% load bootstrap4 %}

{% block title %}{{ object.title }} {{ block.super }}{% endblock %}

{% block heading %}{{ object.title }}{% endblock %}

{% block subheading %}{{ object.category }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="col-12 col-md-8 pt-5 mx-auto">

        {% if messages %}
            {% for message in messages %}
            <div class="alert bg-{{ message.tags }} text-white text-center lead" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}

        <p class="lead">{{ object.get_content|linebreaksbr }}</p>
        <p class="text-right text-muted"><small>Posted on: {{ object.pub_date|date:'F d, Y' }}</small></p>
    </div>
    <hr class="col-8 my-5 bg-info">
    <h2 class="text-center">Comments</h2>

    {% if not user.is_authenticated %}
    <div class="col-10 col-md-8 col-lg-6 mb-5 text-center lead mx-auto my-3">
        <a href="#" class="text-dark" data-toggle="modal" data-target="#loginModal"><u>Login</u></a> or
        <a href="#" class="text-dark" data-toggle="modal" data-target="#aignupModal"><u>Sign up</u></a> to create a comment

        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title text-white" id="loginModalLabel">Login</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5">
                        <form action="{% url 'users:login' %}" method="POST" class="col-12 col-md-8 mx-auto">
                            {% csrf_token %}
                            {% bootstrap_form login_form %}
                            {% bootstrap_button 'Login' button_type='submit' button_class='btn-info btn-block mt-3' %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sign up Modal -->
        <div class="modal fade" id="aignupModal" tabindex="-1" role="dialog" aria-labelledby="aignupModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title text-white" id="aignupModalLabel">Sign up</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5">
                        <form action="{% url 'users:signup' %}" method="POST" class="col-12 col-md-8 mx-auto">
                            {% csrf_token %}
                            {% bootstrap_form signup_form %}
                            {% bootstrap_button 'Sign up' button_type='submit' button_class='btn-info btn-block mt-3' %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}

    {% for comment in comments %}
    <div class="col-10 col-md-8 col-lg-6 mx-auto pt-3 my-3 border border-info">
        {% if not comment.is_deleted %}
            <p>{{ comment.comment }}</p>
            <p class="text-right text-muted"><small>By {{ comment.author }} at {{ comment.pub_date|date:'F d, Y' }}</small></p>
            {% if comment.author == user.username or user.is_superuser %}
            <form action="{% url 'blog:comment_delete' pk=comment.pk %}" method="POST" class="col-3 ml-auto text-right">
                {% csrf_token %}
                {% bootstrap_button 'Delete' button_type='submit' button_class='btn-sm btn-link text-danger' %}
            </form>
            {% endif %}
        {% endif %}
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="col-10 col-md-8 col-lg-6 mt-5 mx-auto">
        <form action="" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button 'Add Comment' button_type='submit' button_class='btn-info' %}
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}