{% extends '_layout.html' %}
{% load static from staticfiles %}

{% block title %}My Portfolio {{ block.super }}{% endblock %}

{% block heading %}My Portfolio{% endblock %}

{% block subheading %}Some of my favorite projects{% endblock %}

{% block content %}
<main class="container mt-5">
    <div class="row justify-content-center no-gutters">
        {% for project in object_list %}
            <div class="col-lg-6 project">
                <a href="{{ project.url }}" target="_blank">
                    <img src="{% static 'img/'|add:project.photo_file_name %}" alt="Photo of my {{ project.title }} app" class="img-fluid">
                    <div class="p-3 overlay">
                        <h3 class="text-center text-white lead">{{ project.title }}</h3>
                        <p class="text-white lead">{{ project.description }}</p>
                    </div>
                </a>
            </div>
            <div class="d-lg-none col-12 bg-dark mb-5 p-3">
                <h3 class="text-center text-white lead">{{ project.title }}</h3>
                <p class="text-white lead">
                    <small>{{ project.description }}</small>
                </p>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}