body {
    font-family: Lora;
}
h1, h2, h3, h4, h5, h6,
.navbar {
    font-family: Open Sans;
}
/*
 * changing color of the navbar-toggler-icon to rgb(255, 255, 255)
*/
.navbar-white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*
 * adding transition on social-media icon on hovering
*/
a.text-info:hover {
    transition: .8s;
}
/*********************
PORTFOLIO OVERLAY - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade
*********************/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #262626;
}
.project:hover .overlay {
  opacity: .9;
}
.project .overlay h3 {
  font-size: 2.5rem;
}